/*Navigation Bar Styling*/
    .Nav_Bar {top: 0px; text-align: center; width: 100%;}
    .Nav_Bar ul {list-style-type: none; margin: 0; padding: 0; overflow: auto; background-color: rgb(50, 50, 50); border-radius: 5px; text-align: center; display: inline-block;}
    .Nav_Bar li {float: left;}
    .Nav_Bar li a {display: inline-block; color: white; text-align: center; padding: 15px; text-decoration: none; min-width: 100px; font-weight:lighter;}
    .Nav_Bar a.Active {background-color:rgb(50, 50, 50);}
    .Nav_Bar li a:hover, .Nav_Bar a.Active:hover {background-color:grey;}
    .Nav_Bar .Dropdown_Content {display: none; position: absolute; background-color: rgb(50, 50, 50); min-width: 100px; z-index: 1; }
    .Nav_Bar .Dropdown_Content a {display: block; text-align: left;}
    .Nav_Bar li.Dropdown:hover .Dropdown_Content {display: block;}

/*Background*/
body{background-image: url(picture9.jpg);background-repeat: no-repeat; background-attachment: fixed; background-size: 100%;}

/*Imported Font*/
@font-face {
        font-family: header;
        src: url(header.ttf);}

@font-face {
    font-family: header2;
    src: url(header3.ttf);
}

/*Hover Button*/
.button {background-color: lightsteelblue; border: none; color: white; padding: 16px 32px; text-align: center; display: inline-block; font-size: 16px; margin: 4px 2px; transition-duration: 0.4s; cursor: pointer;}

  .button1 {
  background-color: grey; 
  color: black; 
  border: 2px solid grey;
}

.button1:hover {
  background-color:white;
  color: black;}

/*Class & Ids*/
.footer{font-size: 10pt;text-align: center;}
header{font-family: header; text-align: center;font-size: 25pt;}
h1{text-align: center; font-family: header3;}
h2{text-align: center; font-family: header2; font-size: 23pt;}
.info{padding-left: 50px; padding-right: 50px; text-align: justify;font-size: 12pt;}
.infoblock{background-image: linear-gradient(180deg,white, grey); margin-right: 50px; margin-left: 50px;border-radius: 5%;border: grey solid 4px;}